
<h2>Alter Existing Appointment on <%=@appointment.date.strftime("%A, %B %e, %Y")%> </h2>
<h4>Patient Name: <%=@appointment.patient_name%></h4>

<form method="POST" action="/appointments/<%= @appointment.id %>">

    <input type="hidden" name="_method" value="PUT">
    New Date:<input name="date" type="date"> <br>
    Time: <input name ="time" type ="time"> <br>
   
    <input type="submit" value="Update ">
</form>