<h1><%=current_user.username %>'s Appointments</h1>

<% @user.appointments.each do |user_appointment| %>
<a href="/appointments/<%=user_appointment.id%>"><%=user_appointment.patient_name %></a><br>
<% end %>
<!--link to appointments-->

<!--link to create appointments-->
<a href="/appointments/new">Create New Appointment</a>


