<h1> Appointment Schedule </h1>
<!--<% if logged_in? %> 
<h3>Assigned To:  <%= current_user.first_name %></h3>
<% end %>
<% @appointments.each do |appointment|  %> 

  <%= appointment.id %> -  <a href="/appointments/<%=appointment.id%>"><%=appointment. %></a> <br>
<% end %>
