<h1> Create Appointment for Patient </h1>
<form method="post" action="/appointments">

    Date:<input name="username" type="date"> <br>
    Time: <input name ="time" type ="time"> <br>
    Patient Name:<input name="patient_name" type="text"> <br>
    <input type="submit" value="Create Appointment for Patient">
</form>