<h2> Create Appointment Below: </h2>
<form method="post" action="/appointments">

    Date:<input name="date" type="date"> <br>
    Time: <input name ="time" type ="time"> <br>
    Patient Name:<input name="patient_name" type="text"> <br>
    <input type="submit" value="Create Appointment for Patient">
</form>

<h4> Need to Edit an Existing Appointment? Click <a href="/appointments/edit">here</a></h4>