<h2> Create Appointment Below: </h2>
<form method="post" action="/appointments">

    Date:<input name="date" type="date"> <br>
    Time: <input name ="time" type ="time"> <br>
    Patient Name:<input name="patient_name" type="text"> <br>
    <h4> Select Doctor: </h4>
    <input type="radio" name="doctor"> Dr. Hummel <br> <%doctor_one.doctor_id%>
    <input type="radio" name="doctor"> Dr. Lerma <br>
    <input type="radio" name="doctor"> Dr. Weenum <br>
    <input type="radio" name="doctor"> Dr. Bontempo <br>
    <input type="radio" name="doctor"> Dr. Ryan <br>
    <input type="submit" value="Create Appointment">
</form>

<h4> Need to Edit an Existing Appointment? Click <a href="/appointments/edit">here</a></h4>

<!-- ADD LINK TO CALENDAR-->
