<h1> Appointment Portal </h1>


<!--link to appointments-->
<a href="/appointments">Appointment Calendar</a>
<!--link to create appointments-->
<a href="/appointments/new">Create New Appointment</a>

