  
<%if flash(:message)%>
  <p style="color:red;"><%=flash[:message]%></p>
<%end%> 

<div class="content">
      <h1>Welcome to Doc It</h1>

    <form action="/login" method="post">
    <h4>Login:</h4>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" value="">
    <input type="submit" value="Login">
    </form>
      <h4> Don't have an account? Click <a href="/signup">here</a> to Register </h4>
    </div>