<h1> Edit Your Account </h1>
<form method="POST" action="/users/<%=@user.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Username:</label> <input type="text" name="name" value="<%=@user.username%>"><br><br>
   <label>Password:</label><input type="password" name="password"><br><br>
    <label>First Name:</label> <input type="first_name" name="first name" value="<%=@user.first_name%>"><br><br>
<label>Last Name:</label> <input type="last_name" name="last name" value="<%=@user.last_name%>"><br><br>
   <input type="submit" value="Update Account Details">
</form>