

<h1> <%=current_user.username %>'s Appointments </h1>


<a href="/appointments/new">Create a new Appointment</a> || <a href="/appointments">Appointment Log</a> || <a href="/logout">Log out of your account</a>