

<h1> Weclcome, <%=current_user.first_name %></h1>



<a href="/appointments/new">Create a new Appointment</a> || <a href="/appointments">Appointment Log</a> || <a href="/logout">Log out of your account</a>