

<h1> Welcome, <%=current_user.first_name %> THIS WORKS</h1>



<a href="/appointments/new">Create a new Appointment</a> || <a href="/appointments">Appointment Calendar</a> || <a href="/logout">Log out of your account</a>