<h2> Welcome Back! 
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" value="">
    <input type="submit" value="Login">
</form>
   <h4> Don't have an account? Click <a href="/signup">here</a> to Register </h4>

