  
<%if flash(:message)%>
  <p style="color:red;"><%=flash[:message]%></p>
<%end%> 
<br>
<h1>Create a new account:</h1>
<form method="post" action="/signup">

    Username:<input name="username" type="username"> <br>
    Password:<input name="password" type="password"> <br>
    First Name:<input name="first_name" type="first_name"> <br>
    Last Name:<input name="last_name" type="last_name"> <br>
    <input type="submit" value="Create New Account">
</form>
  <h4> Already have an Account? Click <a href="/login">here</a> to Login </h4>