<h1> Appointment Portal </h1>

<!--link to appointments-->
<h3>Appointments<a href="/appointments/show"></a> </h3>
<!--link to create appointments-->
<h3>Create New Appointment <a href="/appointments/new"></a> </h3>



