<form method="POST" action="/doctors/<%= @doctor.id %>">

    <input type="hidden" name="_method" value="PUT">
    <p><label>Name:</label> <input type="text" name="doctor[name]" value="<%=@doctor.name%>"></p>
    <input type="submit" value="Update">
</form>